/*-- NAVBAR --*/
#main-navbar .nav-link {
    border-bottom: 5px solid #343a40;
    color: #e2e1e1;
}

#main-navbar .nav-link:hover,
#main-navbar a.active {
    border-bottom: 5px solid #117a8b;
    color: white;
}

.main-logo {
    height: 100px;
    margin-bottom: -70px;
    /*SUpaya logo offset ke bawah*/
}

.small-logo {
    height: 60px;
    /*untuk logo kecil di footer*/
}

/*-- MAIN SLIDER --*/
#main-navbar {
    z-index: 10;
}

#main-slide .carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-attachment: fixed;
}

#main-slide h1 {
    margin-top: 50vh;
    /* Posisikan teks ke tengah slider */
}

#slide1 {
    background-image: url(../img/full-image13.jpg);
}

#slide2 {
    background-image: url(../img/full-image5.jpg);
}

#slide3 {
    background-image: url(../img/full-image14.jpg);
}

#slide4 {
    background-image: url(../img/full-image12.jpg);
}